<div class="vg-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 py-3">
                <div class="footer-info">
                    <p>Research Areas</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li>Traffic Flow Modeling</li>
                        <li>Mixed Autonomy Traffic</li>
                        <li>Intelligent Transportation Systems</li>
                        <li>Control Theory</li>
                        <li>Mathematical Modeling</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 py-3">
                <div class="footer-info">
                    <p>Quick Links</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="https://circles-consortium.github.io/" target="_blank">CIRCLES Project</a></li>
                        <li><a href="https://scholar.google.com/citations?user=k0b8yXkAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
                        <li><a href="https://ce.berkeley.edu/people/faculty/delle-monache" target="_blank">UC Berkeley Profile</a></li>
                        <li><a href="https://its.berkeley.edu/" target="_blank">ITS Berkeley</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 py-3">
                <div class="footer-info">
                    <p>Affiliation</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li><a href="https://ce.berkeley.edu/" target="_blank">Dept. of Civil and Environmental Engineering</a></li>
                        <li><a href="https://its.berkeley.edu/" target="_blank">Institute of Transportation Studies</a></li>
                        <li><a href="https://www.berkeley.edu/" target="_blank">UC Berkeley</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 py-3">
                <div class="footer-info">
                    <p>Contact</p>
                    <hr class="divider">
                    <ul class="list-unstyled">
                        <li>Prof. Maria Laura Delle Monache</li>
                        <li>646 Sutardja Dai Hall</li>
                        <li>UC Berkeley</li>
                        <li>Berkeley, CA 94720</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="copyright">MLDM Lab (<b>M</b>athematical & <b>L</b>earning-based <b>D</b>ynamics for <b>M</b>obility), UC Berkeley. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
