<header id="site-header">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <div class="logo">
                <h1><a href="{BASE_PATH}index.html"><b>MLDM</b> Lab</a></h1>
            </div>
        </div>
        <div class="col-md-8 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li><a href="{BASE_PATH}index.html" data-hover="Home">Home</a></li>
                    <li><a href="{BASE_PATH}index.html#research" data-hover="Research">Research</a></li>
                    <li><a href="{BASE_PATH}index.html#team" data-hover="Team">Team</a></li>
                    <li><a href="{BASE_PATH}index.html#publications" data-hover="Publications">Publications</a></li>
                    <li><a href="{BASE_PATH}index.html#contact" data-hover="Contact">Contact</a></li>
                </ul>
                <div class="navbar-header">
                    <button type="button" id="trigger-overlay" class="navbar-toggle">
                        <span class="ion-navicon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Mobile Menu Overlay -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{BASE_PATH}index.html">Home</a></li>
            <li><a href="{BASE_PATH}index.html#research">Research</a></li>
            <li><a href="{BASE_PATH}index.html#team">Team</a></li>
            <li><a href="{BASE_PATH}index.html#publications">Publications</a></li>
            <li><a href="{BASE_PATH}index.html#contact">Contact</a></li>
        </ul>
    </nav>
</div>
