<header id="site-header">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <div class="logo">
                <h1><a href="{BASE_PATH}index.html"><b>{LOGO_BOLD}</b> {LOGO_TEXT}</a></h1>
            </div>
        </div><!-- col-md-4 -->
        <div class="col-md-8 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="trigger-overlay" class="navbar-toggle">
                        <span class="ion-navicon"></span>
                    </button>
                </div>
                <!-- BAIR logo - only shown on main page -->
                <a href="https://bair.berkeley.edu/" class="bair-link" style="display: none;">
                    <img src="{BASE_PATH}img/bair-logo.png" alt="BAIR Logo" class="custom-icon">
                </a>
            </nav>
        </div><!-- col-md-8 -->
    </div>
</header>


